<template>
  <div class="container">
    <div v-if="!carteiraVazia" class="row row-cols-3">
      <div class="col-4">
        <resultado-card
          :title="'Resultado Bruto'"
          :type="'currency'"
          :resultado="
            resultadosConsolidado[0]
              ? resultadosConsolidado[0].resultadoBruto
              : 0
          "
        ></resultado-card>
      </div>
      <div class="col-4">
        <resultado-card
          :title="'IRPF Total'"
          :type="'currency'"
          :resultado="
            resultadosConsolidado[0] ? -resultadosConsolidado[0].irpfTotal : 0
          "
        ></resultado-card>
      </div>
      <div class="col-4">
        <resultado-card
          :title="'Resultado Líquido'"
          :type="'currency'"
          :resultado="
            resultadosConsolidado[0]
              ? resultadosConsolidado[0].resultadoLiquido
              : 0
          "
        ></resultado-card>
      </div>
    </div>
    <div
      v-if="
        resultadosSwingTrade.length > 0 &&
          resultadosDayTrade.length > 0 &&
          getProdutosComCapitalAlocado.length > 0 &&
          !carteiraVazia
      "
      class="row"
    >
      <resultados-chart
        :swingTradeData="resultadosSwingTrade"
        :dayTradeData="resultadosDayTrade"
        :produtos="getProdutosComCapitalAlocado"
      ></resultados-chart>
    </div>
    <div v-if="!carteiraVazia" class="row">
      <div class="col">
        <resultados
          :resultados="resultadosSwingTrade"
          :nome="'Swing Trade'"
        ></resultados>
      </div>
      <div class="col">
        <resultados
          :resultados="resultadosDayTrade"
          :nome="'Day Trade'"
        ></resultados>
      </div>
    </div>
    <div v-if="!carteiraVazia" class="row">
      <div class="col">
        <produtos :produtos="produtos"></produtos>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    carteira: Object()
  }
}
</script>

<style scoped>
.container {
  padding: 0;
}
.link {
  color: black;
  text-decoration: none !important;
}
.link:hover {
  color: black;
  text-decoration: none !important;
}
</style>
