<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>A Carteira se encontra Vazia</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.row h1 {
  margin-top: 15%;
  margin-bottom: 15%;
}
.container {
  padding: 0;
  color: black;
  font-size: bold;
}
</style>
