<template>
  <nuxt-link :to="{ path: '/carteiras/' + carteira.id }" class="card">
    <div class="d-flex flex-column m-3">
      <div class="d-flex flex-row ">
        <div class="d-flex flex-column align-items-start mr-3">
          <img id="foto-dono-carteira" src="~/assets/robert.jpg" />
        </div>
        <div class="d-flex flex-column justify-content-end flex-grow-1">
          <div class="d-flex flex-row justify-content-between">
            <div id="title" class="d-flex">
              {{ carteira.nome }}
            </div>
            <div class="d-flex justify-content-end">
              <span @click="like()" class="icon icon-like mr-4" />
              <span @click="share()" class="icon icon-share mr-4" />
              <span @click="star()" class="icon icon-star" />
            </div>
          </div>
          <div class="d-flex flex-grow-1 justify-content-center my-auto">
            <span id="resultado-1" class="resultado">-45%</span>
            <span id="resultado-2" class="resultado">R$54815</span>
          </div>
          <div class="d-flex flex-grow-1 justify-content-center my-auto">
            <span id="resultado-1" class="resultado">-45%</span>
            <span id="resultado-2" class="resultado">R$54815</span>
          </div>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    carteira: Object()
  },
  methods: {
    like() {
      alert('like')
    },
    share() {
      alert('share')
    },
    star() {
      alert('star')
    }
  }
}
</script>

<style scoped>
.card {
  width: 100%;
  height: 200px;
  border-radius: 20px !important;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(130, 61, 190),
    rgb(60, 50, 88)
  );
}

.card-header {
  border: none;
  background-color: transparent;
}

.card-footer {
  border: none;
  background-color: transparent;
}

.icon {
  width: 25px;
  height: 25px;
  background: transparent;
  transition: background-color 0.2s linear;
}

.icon:not(:last-child) {
  margin-right: 5px;
}
.icon-like {
  mask-image: url('~assets/like.svg');
}
.icon-share {
  mask-image: url('~assets/open-iconic-master/svg/share.svg');
}
.icon-star {
  mask-image: url('~assets/open-iconic-master/svg/star.svg');
}

.card:hover .icon:hover {
  background: white;
}

.card:hover .icon {
  background: rgb(60, 50, 88);
}

a {
  text-decoration: none;
}
#title {
  color: white;
  font-size: 25px;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .resultado {
    font-size: 20px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .resultado {
    font-size: 30px;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .resultado {
    font-size: 40px;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .resultado {
    font-size: 40px;
  }
}

.resultado {
  color: rgb(218, 74, 189);
  font-weight: bold;
}

#resultado-1 {
  color: rgb(255, 255, 255);
}

.card:hover #resultado-2 {
  color: rgb(255, 255, 255);
}

#foto-dono-carteira {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
</style>
