<template>
  <div
    id="darf-card"
    :class="{ 'darf-card-active': isEnabled }"
    class="d-flex flex-column"
  >
    <b-alert
      v-model="dismissCountDown"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
      class="position-fixed fixed-top m-0 rounded-0"
      style="z-index: 2000;"
      variant="dark"
      dismissible
      fade
    >
      <h4 class="m-auto text-center">{{ alertMessage }}</h4>
    </b-alert>
    <b-tooltip
      :title="!isEnabled ? 'Não Disponível' : ''"
      :target="'darf-title_' + ano + '_' + mes"
      placement="bottom"
    ></b-tooltip>
    <div v-if="status === 'loaded'" class="d-flex flex-column m-auto fade-in">
      <h2 :id="'darf-title_' + ano + '_' + mes" class="m-auto">
        {{ cardTitle }}
      </h2>
      <div v-if="isEnabled" class="d-flex flex-row mx-auto">
        <span
          id="nova-darf-icon"
          @click="startDarfCreation()"
          v-if="!darfImage"
          v-b-tooltip.hover.bottom
          :title="'Gerar Darf'"
          class="icon icon-add-document my-1"
        ></span>
        <a
          v-if="darfImage"
          :href="darfImage"
          :download="'darf_' + ano + '_' + mes + '.jpg'"
          v-b-tooltip.hover.bottom
          :title="'Download'"
          class="icon icon-download mx-4 my-3"
        >
        </a>
        <span
          id="visualizar-darf-icon"
          v-if="darfImage"
          v-b-modal="'darf-modal' + ano + mes"
          v-b-tooltip.hover.bottom
          :title="'Ver'"
          class="icon icon-eye mx-4 my-3"
        ></span>
        <b-modal
          :id="'darf-modal' + ano + mes"
          size="lg"
          class="modal-content modal-header"
          scrollable
          hide-footer
        >
          <div class="d-flex justify-content-center flex-column m-auto">
            <img :src="darfImage" class="m-auto" />
          </div>
        </b-modal>
      </div>
    </div>
    <div
      v-if="status === 'loading'"
      class="spinner-border text-primary m-auto"
      role="status"
    ></div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import AWS from 'aws-sdk'
export default {
  props: {
    mes: Number(),
    ano: Number()
  },
  data() {
    return {
      status: 'loading',
      getStatusIntervalId: null,
      darfImage: null,
      dismissSecs: 5,
      dismissCountDown: 0,
      alertMessage: null
    }
  },
  computed: {
    cardTitle() {
      return this.$moment(new Date(this.ano, this.mes - 1, 1))
        .format('MMMM')
        .toUpperCase()
    },
    getDarfS3Key() {
      return (
        '1' +
        '/' +
        this.ano +
        '_' +
        this.mes.toString().padStart(2, '0') +
        '.png'
      )
    },
    isEnabled() {
      return new Date(this.ano, this.mes - 1, 1) < new Date()
    }
  },
  beforeMount() {
    this.getDarfGenerationJob({
      carteiraId: 1,
      ano: this.ano,
      mes: this.mes
    })
      .then((response) => {
        this.setDarfCreationStatusListener(response.commandId)
      })
      // eslint-disable-next-line handle-callback-err
      .catch((err) => {
        this.status = 'loaded'
      })
  },
  mounted() {
    //this.subscribeToTopic()
  },
  methods: {
    ...mapActions({
      createDarf: 'darfs/createDarf',
      createDarfGenerationJob: 'darfs/createDarfGenerationJob',
      getDarfGenerationJob: 'darfs/getDarfGenerationJob'
    }),
    async startDarfCreation() {
      if (!this.darfImage && this.isEnabled) {
        await this.$axios
          .$post('/api/v1/darf', {
            carteiraId: '1',
            ano: this.ano,
            mes: this.mes
          })
          .then((response) => {
            this.status = 'loading'
            this.darfCreationJobResult = response
            this.createDarfGenerationJob({
              commandId: response.command.commandId,
              instanceId: response.command.instanceIds[0],
              carteira: '/carteiras/1',
              ano: this.ano,
              mes: this.mes
            }).then(() => {
              this.showAlert('Processo de Criação de DARF iniciado com Sucesso')
              this.setDarfCreationStatusListener(response.command.commandId)
            })
          })
      }
    },
    setDarfCreationStatusListener(commandId) {
      this.getDarfCreationStatus(commandId)
      this.getStatusIntervalId = setInterval(() => {
        this.getDarfCreationStatus(commandId)
      }, 5000)
    },
    stopDarfCreationListener() {
      clearInterval(this.getStatusIntervalId)
    },
    async getDarfCreationStatus(commandId) {
      await this.$axios
        .$post('/api/v1/darf/status', {
          instanceId: 'i-0b2fa0a502343f3a7',
          commandId
        })
        .then((response) => {
          this.darfCreationJobStatus = response
          if (this.darfCreationJobStatus.status === 'InProgress') {
            this.status = 'loading'
          } else {
            if (this.darfCreationJobStatus.status === 'Success') {
              this.loadDarfImage()
            }
            this.status = 'loaded'
            if (this.getStatusIntervalId) this.stopDarfCreationListener()
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((err) => {
          this.status = 'loaded'
        })
    },
    loadDarfImage() {
      AWS.config.update({
        region: 'eu-west-1'
      })
      const s3 = new AWS.S3()
      const params = {
        Bucket: 'aoricilbucket',
        Key: this.getDarfS3Key,
        ResponseContentType: 'image/png'
      }
      s3.getObject(params, (err, data) => {
        if (err) {
          //console.error(err)
        } else {
          this.darfImage = 'data:image/jpeg;base64,' + encode(data.Body)
          this.status = 'loaded'
        }
      })
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert(message) {
      this.alertMessage = message
      this.dismissCountDown = this.dismissSecs
    }
  },
  subscribeToTopic() {
    AWS.config.update({
      region: 'eu-west-1'
    })
    const sns = new AWS.SNS()
    const params = {
      Protocol: 'http',
      TopicArn: 'arn:aws:sns:eu-west-1:073678533786:1'
    }
    sns.subscribe(params, function(err, data) {
      if (err) console.log(err, err.stack)
      // an error occurred
      else console.log(data) // successful response
    })
  }
}

function encode(data) {
  const str = data.reduce(function(a, b) {
    return a + String.fromCharCode(b)
  }, '')
  return btoa(str).replace(/.{76}(?=.)/g, '$&\n')
}
</script>

<style scoped>
h2 {
  color: white;
  font-weight: bold;
}

#darf-card {
  background-color: rgb(55, 53, 56);
  border-radius: 1.5rem;
  height: 250px;
}

.darf-card-active {
  transition: background-color 0.2s linear;
}

.darf-card-active:hover {
  background-color: rgb(112, 34, 180) !important;
}

.darf-card-active:hover .spinner-border.text-primary {
  color: white !important;
}

.icon {
  background-color: white;
  height: 50px;
  width: 50px;
  outline: none;
}

.darf-card-active:hover .icon {
  background-color: rgb(57, 35, 86);
}

.icon:hover {
  background-color: white !important;
  cursor: pointer;
}

.icon-add-document {
  height: 70px;
  width: 70px;
}
</style>
