<template>
  <div v-if="darfs.length > 0" class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Período de Apuração</th>
          <th scope="col">Data de Vencimento</th>
          <th scope="col">Valor Principal</th>
          <th scope="col">Multa</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(darf, index) in darfs" :key="index">
          <th>{{ darf.periodoDeApuracao }}</th>
          <th>{{ $moment(darf.dataDeVencimento).format('DD MMM YYYY') }}</th>
          <th>{{ darf.valorPrincipal }}</th>
          <th>{{ darf.valorDaMulta }}</th>
          <th>{{ darf.total }}</th>
          <th>
            <div class="button-group">
              <nuxt-link
                :to="{
                  name: `darfs-id___${$i18n.locale}`,
                  params: {
                    id: darf.id
                  }
                }"
                class="button"
              >
                <span class="icon icon-documento" />
              </nuxt-link>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      darfs: (state) => state.darfs.darfs
    })
  }
}
</script>

<style></style>
