<template>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <span class="footer">Minha Carteira</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.container {
  padding: 40px;
  height: 100%;
  border-top-color: rgb(40, 40, 40);
  border-width: 1px;
  border-top-style: solid;
}
.footer {
  color: rgb(100, 100, 100);
}
</style>
