<template>
  <div @click="alteraModoEdicaoParaVerdadeiro()" class="card">
    <span v-if="!modoEdicao" class="icon icon-plus" />
    <div class="d-flex justify-content-center m-auto">
      <input-text
        v-if="modoEdicao"
        @enter="salvarCarteira"
        @esc="alteraModoEdicaoParaFalso"
      ></input-text>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import InputText from '~/components/InputText.vue'
export default {
  components: {
    InputText
  },
  data() {
    return {
      modoEdicao: Boolean()
    }
  },
  mounted() {
    this.modoEdicao = false
  },
  methods: {
    alteraModoEdicaoParaVerdadeiro() {
      this.modoEdicao = true
    },
    alteraModoEdicaoParaFalso() {
      this.modoEdicao = false
    },
    salvarCarteira(event) {
      this.cadastraCarteira({
        nome: event
      }).then(() => {
        this.alteraModoEdicaoParaFalso()
      })
    },
    ...mapActions({
      cadastraCarteira: 'carteiras/cadastraCarteira'
    })
  }
}
</script>

<style scoped>
.card {
  width: 100%;
  height: 200px;
  border-radius: 20px !important;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(130, 61, 190),
    rgb(60, 50, 88)
  );
  cursor: pointer;
}

.card-header {
  border: none;
  background-color: transparent;
}

.card-footer {
  border: none;
  background-color: transparent;
}
.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: rgb(60, 50, 88);
  mask-size: cover;
  mask-repeat: no-repeat;
  cursor: pointer;
  margin: 69px auto;
}

.icon-plus {
  mask-image: url('~assets/library_add-24px.svg');
}

.card:hover .icon {
  background-color: white;
}
</style>
