<template>
  <div v-if="operacoes.length > 0" class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Data da Operação</th>
          <th scope="col">C/V</th>
          <th scope="col">Tipo de Operação</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preço</th>
          <th scope="col">
            <div id="tle-info" class="container-fluid">
              TL + E
            </div>
            <b-tooltip
              target="tle-info"
              title="Taxa de Liquidação e Emolumentos"
            ></b-tooltip>
          </th>
          <th scope="col">IRPF</th>
          <th scope="col">Preço Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(operacao, index) in operacoes" :key="index">
          <th>
            {{
              operacao.dataOperacao != null
                ? $moment(operacao.dataOperacao).format('DD MMMM YYYY')
                : ''
            }}
          </th>
          <th>{{ operacao.compra ? 'COMPRA' : 'VENDA' }}</th>
          <th>{{ operacao.tipoDeOperacao }}</th>
          <th>{{ operacao.quantidade }}</th>
          <th>{{ operacao.preco.toFixed(2) }}</th>
          <th>{{ operacao.taxaLiquidacaoEmolumentos.toFixed(2) }}</th>
          <th>{{ operacao.irpf.toFixed(2) }}</th>
          <th>{{ operacao.total.toFixed(2) }}</th>
          <th>
            <div class="button-group">
              <nuxt-link
                :to="{
                  path: '/carteiras/'
                }"
                class="button"
              >
                <span class="icon icon-editar" />
              </nuxt-link>

              <nuxt-link
                :to="{
                  path: '/carteiras/'
                }"
                class="button"
              >
                <span class="icon icon-deletar" />
              </nuxt-link>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    operacoes: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>
.container {
  padding: 0;
}
</style>
