<template>
  <div>
    <h1>Ativos</h1>
    <div v-if="produtos.length > 0" class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="d-none d-md-table-cell">Ação</th>
            <th scope="col">Símbolo</th>
            <th scope="col">Preço Médio</th>
            <th scope="col">Quantidade</th>
            <th scope="col" class="d-none d-md-table-cell">Investimento</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(produto, index) in produtos" :key="index">
            <th class="d-none d-md-table-cell">{{ produto.produto.nome }}</th>
            <th>{{ produto.produto.simbolo }}</th>
            <th>{{ produto.precoMedio.toFixed(2) }}</th>
            <th>{{ produto.quantidadeAtual }}</th>
            <th class="d-none d-md-table-cell">
              {{ (produto.precoMedio * produto.quantidadeAtual).toFixed(2) }}
            </th>
            <th>
              <div class="button-group">
                <nuxt-link
                  :to="{
                    name: `produtos-id___${$i18n.locale}`,
                    params: {
                      id: produto.id,
                      carteiraId: produto.carteira.id
                    }
                  }"
                  class="button"
                >
                  <span class="icon icon-informacao" />
                </nuxt-link>
                <nuxt-link :to="{ path: '/carteiras/' }" class="button">
                  <span class="icon icon-editar" />
                </nuxt-link>

                <nuxt-link :to="{ path: '/carteiras/' }" class="button">
                  <span class="icon icon-deletar" />
                </nuxt-link>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    produtos: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    carteira() {
      return {
        id: this.$route.fullPath.split('/')[2]
      }
    }
  }
}
</script>

<style scoped>
.button-group {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.button {
  width: 40px;
  height: 40px;
  background-image: none;
  cursor: pointer;
}

.button:not(:first-child) {
  margin-left: 10px;
}

h1 {
  color: white;
}
</style>
