<template>
  <div>
    <h1>{{ title }}</h1>
    <div v-if="resultados.length > 0" class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ano</th>
            <th scope="col">Mês</th>
            <th v-if="nome == 'Swing Trade'" scope="col">Total de Vendas</th>
            <th scope="col">Lucro / Prejuízo Total</th>
            <th scope="col">IRPF</th>
            <th scope="col">Lucro / Prejuízo após IRPF</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(resultado, index) in resultados"
            :key="index"
            :class="
              nome == 'Day Trade' && resultado.resultado < 0
                ? 'table-row-danger'
                : nome == 'Swing Trade' &&
                  resultado.totalDeVendas >= 0.9 * 20000
                ? 'table-row-warning'
                : ''
            "
          >
            <th>{{ resultado.ano }}</th>
            <th>
              {{ $moment(new Date(1, resultado.mes - 1, 1)).format('MMMM') }}
            </th>
            <th v-if="nome == 'Swing Trade'">
              {{ resultado.totalDeVendas.toFixed(2) }}
            </th>
            <th>
              {{ resultado.resultado.toFixed(2) }}
            </th>
            <th>{{ resultado.irpf.toFixed(2) }}</th>
            <th>{{ (resultado.resultado - resultado.irpf).toFixed(2) }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    resultados: Object(),
    nome: String(),
    title: String()
  }
}
</script>

<style scoped>
.table-row-danger {
  color: rgb(242, 104, 104);
}

.table-row-warning {
  color: rgb(218, 74, 189);
}

h1 {
  color: white;
}
</style>
