body {
  background: rgb(29, 30, 32);
  /* Hide scrollbars */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width: 100%;
}

.container-fluid,
.container-fluid>.row,
.container-fluid>.row>.col {
  margin: 0px;
  padding: 0px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.7;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(218, 74, 189);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(218, 74, 189);
}

.table th {
  text-align: center;
}

.table>thead>tr>th {
  border-bottom: 2px solid transparent;
  font-weight: bold;
  color: white;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border-top: 1px solid transparent;
}

.table>tbody>tr {
  background-color: rgb(43, 48, 52);
  color: rgb(119, 122, 124);
}

h1 {
  color: rgb(119, 122, 124);
}

h2 {
  cursor: default;
}

canvas {
  background-color: transparent;
  width: 100% !important;
  max-height: 400px;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(119, 122, 124);
  mask-size: cover;
  mask-repeat: no-repeat;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.icon-informacao {
  mask-image: url('~assets/icons/spreadsheet.svg');
}

.icon-editar {
  mask-image: url('~assets/icons/pencil.svg');
}

.icon-deletar {
  mask-image: url('~assets/icons/trash.svg');
}

.icon-documento {
  mask-image: url('~assets/icons/document.svg');
}

.icon-download {
  mask-image: url('~assets/icons/download.svg');
}

.icon-eye {
  mask-image: url('~assets/icons/eye.svg');
}

.icon-add-document {
  mask-image: url('~assets/icons/add_document.svg');
}

.icon-bell {
  mask-image: url('~assets/icons/bell.svg');
}

.icon-profile {
  mask-image: url('~assets/icons/person.svg');
}

.icon-gear {
  mask-image: url('~assets/icons/gear.svg');
}

.icon-info {
  mask-image: url('~assets/icons/info.svg');
}

.icon-informacao:hover {
  background-color: rgb(0, 180, 237);
}

.icon-editar:hover {
  background-color: rgb(0, 244, 161);
}

.icon-deletar:hover {
  background-color: rgb(255, 91, 133);
}

.icon-documento:hover {
  background-color: rgb(0, 244, 161);
}

.button-group {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.button {
  width: 40px;
  height: 40px;
  background-image: none;
  cursor: pointer;
}

.button:not(:first-child) {
  margin-left: 10px;
}

.spinner-border.text-primary {
  color: rgb(218, 74, 189) !important;
  font-size: 30px;
  width: 50px;
  height: 50px;
  transition: color 0.2s linear;
}

.modal-content {
  background-color: #333232;
}

.modal-body {
  padding: 0px;
  overflow-x: auto;
}

.modal-header {
  border-bottom: 1px solid #5b5b5b;
}

.modal-header button {
  outline: none;
}

.modal-footer {
  border-top: 1px solid #5b5b5b;
}

.modal-header h5 {
  color: white;
}

.modal-header .close {
  color: white;
  text-shadow: none;
}


.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*CALENDAR COMPONENT*/
.data-operacao :first-child>input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 20px;
}

.vdp-datepicker__calendar {
  background-color: rgb(40, 41, 44) !important;
  border: none !important;
  color: white !important;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border-color: transparent !important;
  transition: background-color 0.2s linear !important;
  background-color: rgb(72, 72, 72) !important;
}

.vdp-datepicker__calendar .cell.selected {
  background-color: rgb(72, 72, 72) !important;
}

.vdp-datepicker__calendar header .prev:not(.disabled):hover,
.vdp-datepicker__calendar header .next:not(.disabled):hover,
.vdp-datepicker__calendar header .up:not(.disabled):hover {
  transition: background-color 0.2s linear !important;
  background-color: rgb(72, 72, 72) !important;
}

.vdp-datepicker__calendar header .prev:after {
  border-right-color: white !important;
}

.vdp-datepicker__calendar header .next:after {
  border-left-color: white !important;
}

.vdp-datepicker input,
.vdp-datepicker input:focus {
  color: white !important;
  background-color: rgb(72, 72, 72) !important;
  border: none !important;
  border-color: transparent !important;
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  color: white;
  background-color: rgb(40, 41, 44);
  border-color: transparent;
}

.btn:hover {
  color: rgb(40, 41, 44);
  background-color: white;
  border-color: transparent;
  box-shadow: none;
}

.btn:focus,
.btn:active {
  box-shadow: 0 0 0px 0.2rem rgba(255, 255, 255, 0.2);
}

.modal-content {
  background-color: transparent !important;
  border: none;
}

.modal-header {
  border-bottom: none !important;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.modal-header button {
  font-size: 3rem;
  padding: 0 0;
}
