<template>
  <div v-html="getDarf(this.$route.params.id).html"></div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      getDarf: 'darfs/getDarf'
    })
  }
}
</script>

<style></style>
