<template>
  <h1>{{ message }}</h1>
</template>

<script>
import socket from '~/plugins/socket.io.js'
export default {
  data() {
    return {
      message: []
    }
  },
  mounted() {
    /*const socket = new WebSocket('ws://localhost:7379/.json')
    socket.onopen = function() {
      socket.send(JSON.stringify(['SUBSCRIBE', 'hello']))
    }
    socket.onmessage = (evt) => {
      const obj = JSON.parse(evt.data)
      console.log(obj.SUBSCRIBE[2])
      this.message.push(obj.SUBSCRIBE[2])
    }*/
    socket.on('new-message', (message) => {
      this.message.push(message)
    })
  }
}
</script>

<style></style>
