<template>
  <carteiras :carteiras="getCarteiras" class="mt-4"></carteiras>
</template>

<script>
import { mapGetters } from 'vuex'
import Carteiras from '~/components/Carteiras.vue'

export default {
  components: {
    Carteiras
  },
  computed: {
    ...mapGetters({
      getCarteiras: 'carteiras/getCarteiras'
    })
  },
  async fetch({ store, params }) {
    await store.dispatch('carteiras/fetchCarteiras')
  }
}
</script>

<style scoped></style>
